<%# JavaScript helper functions %>
<script>
  <%#Format the answers %>
function displayModel(answers) {
  var container = $(".qa_container").empty()
  container.append("<h3>Results for the question <b>" + answers.question.questionText + "</b></h3>");
  
  <%#Iterate over the answer list, extracting the answer text, id and evidence %>
  for (var a in answers.question.answers) {
    var answer = answers.question.answers[a];
    
    var title = answer.text;
    var id = answer.id;
    var evidence = answers.question.evidencelist[id].text;

    
    var answerText = "<br /><div class='title'>" + (id + 1) + ". " + title + "</div>"
    answerText += "<div class='details'><strong>Confidence Level:</strong>" + " answer.confidence " + "</div>";
    answerText += "<div class='details'><a href='_blank' class='toggle_it'>Show answer details</a></div>";
    answerText += "<div class='details details_text' style='display:none;'>" + answer.formattedText + "</div>";

    answerText += "<div class='details' id='evidence-" + id +"'>";
    answerText += "<div><a href='_blank' class='toggle_it'>Show Evidence:</a></div>";
    answerText += "<div class='details_text' style='display:none;'>" + evidence + "</div>";
    answerText += "</div>";

    answerText = $("<div class='answer' id='answer-" + id + "''></div>").append(answerText);

    container.append(answerText);
  }
}
  
<%#Performs the asynchronous request to the proxy using JQuery %>

$(function() {
  $(".go").click(function() {
    
    <%#Set the proxy endpoint, and get the question from the input box %>    
    var endpoint = "/proxy/qa/ask/";
    var question = $("input[name='question']").val();

    <%#Let the user know Watson is working on this... %>
    $(".qa_container").empty().append("Asking Watson...");
    
    <%#convert the question into JSON, and submit it to the proxy.%>
    $.ajax({
      type: "POST",
      url: endpoint,
      data: JSON.stringify({ "question" : question }),
      success: function(response) {
        <%#Get the JSON response and parse it %>
        response = JSON.parse(response);
        console.log(response);
        <%#format the answers %>
        displayModel(response);
      },
        failure: function(error) {
          console.log(error);
          $(".qa_container").empty().append(error);
        }
      });
    
  });


  <%#Display the answers to the user %>
  $("body").delegate(".toggle_it", "click", function() {
    $(this).parent().parent().find(".details_text").first().slideToggle();
    return false;
  });
    
});
  

</script>


<%#HTML sections for question input and div to put the answers %>
<span>Ask Watson:</span> <input type="text" name="question" value="" />
<input type="submit" value="Ask" class="go">
<br />  
<div class="qa_container"></div>


<%# styling for the HTML output %>
<style>
.details
{
  font-size: .875em;
  margin: 3px;
}

.answer
{
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

</style>