<script src="javascripts/d3.js"></script>
<script src="javascripts/personality-insights-visualization.js"></script>
<style src="stylesheets/personality-insights-visualization-style.css"></style>


<script>

function createGraphic(profile) {
  var width = 900;
  var height = 800;

  $('.progress').hide();

  var d3vis = d3.select("#user-visualization").append("svg:svg");
  var widget = {
     d3vis: d3vis,
     data: profile,
     loadingDiv: "dummy",
     switchState: function() { console.log("[switchState]");},
     _layout:     function() { console.log("[_layout]"); },
     showTooltip: function() { console.log("[showTooltip]"); },
     id: "SystemUWidget",
       COLOR_PALLETTE: ["#1b6ba2","#488436","#d52829","#F53B0C","#972a6b","#8c564b","#dddddd"],
        expand: function() {
        this.vis.selectAll("g").each(function(d, i) {
           var g = d3.select(this);
           if(g.datum().parent != null && // Isn't the root g object.
              g.datum().parent.parent != null && // Isn't the feature trait.
              g.datum().parent.parent.parent != null) {// Isn't the feature dominant trait.
              g.attr("visibility", "visible");
           };
        });
     }
  };
  
  widget.dimH = height;
  widget.dimW = width;
  widget.d3vis.attr("width", widget.dimW).attr("height", widget.dimH);
  renderChart.call(widget);
  widget.expand.call(widget);
}


  $(function() {
    $(".go").click(function() {
      $("#user-visualization").empty();
      $('.progress').show();

      var endpoint = "/proxy/pi/model_twitter/";
      var handle = $("input[name='handle']").val();

      $.ajax({
        type: "POST",
        url: endpoint,
        data: JSON.stringify({ "handle" : handle }),
        success: function(response) {
          createGraphic(JSON.parse(response));
        },
          failure: function(error) {
            console.log(error);
            $("#user_visualization").empty().append(error);
          }
        });
      
    });
  });
  
</script>



<span>Twitter Handle:</span> <input type="text" name="handle" value="IBMWatson" />
<input type="submit" value="Generate Insights!" class="go">
<div class="progress" style="display: none;">Fetching Tweets...</div>

<center><div id="user-visualization" class="chartDiv" height="800" width="900"></div></center>