<script>
  
  function displayModel(model) {
    $(".user_model").empty().append(JSON.stringify(model));
  }
  
  
  $(function() {
    $(".go").click(function() {
      var endpoint = "/proxy/pi/visualize_twitter/";
      var handle = $("input[name='handle']").val();
      
      console.log(handle);
      
      $.ajax({
        type: "POST",
        url: endpoint,
        data: JSON.stringify({ "handle" : handle }),
        success: function(response) {
          response = JSON.parse(response);
          console.log(response);
          displayModel(response);
        },
          failure: function(error) {
            console.log(error);
            $(".user_model").empty().append(error);
          }
        });
      
    });
  });
  
  
</script>




<span>Twitter Handle:</span> <input type="text" name="handle" value="IBMWatson" />
<input type="submit" value="Generate Insights!" class="go">


<div class="user_model"></div>